<div class ="container shop-newpost">
  <%# タイトル %>
  <div class="row newshop-title-row">
    <div class="newshop-title col-12">
      <img src="/assets/shop.png/", width="50" height="50", class="post-icon">
      <a>投稿を更新</a>
    </div>
  </div>
  <%# 投稿作成 %>
  <div class="row newshop-row mt-5">
    <div class="newpost-info-box col-md-5">
      <%= form_for(@shop) do |f| %>
      <p>観葉植物店の名前</p>
      <%= f.text_field :name, placeholder: "店名", class: "shop-name-textform" %>
      <p>住所(マップで検索した住所を挿入)</p>
      <%= f.text_field :address, placeholder: "住所を挿入", class: "shop-address-textform" %>
      <p>おすすめポイント</p>
      <%= f.text_area :text, placeholder: "ex.~が置いてある", class: "shop-info-textform" %>
      <div class="shop-registration-btn mt-2">
      <%= f.submit "更新", class: "btn-outline-success" %>
      </div>
      <% end %>
    </div>
    <%# 検索用のマップ %>
    <div class="newpost-map-box col-md-7">
      <div class="newpost-searchbox">
        <input id="pac-input" class="controls" type="text" placeholder="店名や場所で住所を検索">
      </div>
      <div id="map">
      </div>   
    </div>
  </div>
</div>
    
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4Jr1NrfngK80oIANtzFL6LWsYJSKoz3c&libraries=places&callback=initAutocomplete"
async defer></script>
