

<div class="shopping-main">
   <div class="shopping-map">

      <%= form_for(@shop) do |f| %>
      <h4>名前</h4>
      <%= f.text_field :name, placeholder: "名前" %>
      <h4>住所</h4>
      <%= f.text_field :address, placeholder: "住所" %>
      
      <%= f.submit "登録する" %>
      <% end %>
   </div> 
   <div class="shopping-amazon">
      <% @shops.each do |shop| %>
          <%= link_to "詳細", shop_path(shop.id) %>
          <%= link_to shop.user.name, user_path(shop.user.id)%>
      <% end %>







   </div> 
</div>


<p>住所</p>
<p><%= @shop.address %></p>(住所名表示)

<div id="map"></div>(地図を表示)


<style>(地図の大きさ指定)
#map{
  height: 150px;
  width:270px;
}
</style>

<script type="text/javascript">
    
    var markerData = [
      
 {
        name: '東京駅',
     lat: 35.681236,
        lng: 139.767125
 }, {
        name: '淡路町駅',
     lat: 35.69496,
      lng: 139.76746000000003
 }, {
        name: '御茶ノ水駅',
        lat: 35.6993529,
        lng: 139.76526949999993
 }, {
        name: '神保町駅',
     lat: 35.695932,
     lng: 139.75762699999996
 }, {
        name: '新御茶ノ水駅',
       lat: 35.696932,
     lng: 139.76543200000003
 }
]
    
    
    function initMap() {
        <% @shops.each do |shop| %>
        var test ={lat: <%= shop.latitude %>, lng: <%= shop.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: test
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);
        var contentString = '店名：<%= shop.name %>';
        <% end %>
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        var marker = new google.maps.Marker({
            position:test,
            map: map,
            title: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
      }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4Jr1NrfngK80oIANtzFL6LWsYJSKoz3c&callback=initMap" async defer></script>