<div class= "mypage-main">
  <div class= "mypage-left">
    <div class="mypage-contents-box">
      <% @posts.each do |post| %>
        <div class="content">
          <div class="content-header">
            <%= link_to post.user.name, user_path(post.user.id)%>
            <% if user_signed_in? && current_user.id == post.user_id %> 
              <%= link_to "削除", post_path(post.id), method: :delete %>
              <%= link_to "編集", edit_post_path(post.id) %>
            <% end %>
          </div>
          <div class="content-main">
            <div class="content-main-image">
              <%-if post.image.present?%>
                <%= link_to post_path(post.id) do %>
                  <%= image_tag post.image, :size =>'300x300', class: 'post-image' if post.image.present?%>
                <% end %>
              <%end%>
            </div>
          </div>
          <div class="content-footer">
            <%="コメント#{post.comments.count}件"%>
            <%="いいね！#{post.likes.count}件"%>
          </div>
          <div class="content-main-text">
            <a><%= simple_format(post.text) %></a>
            <%# <%= link_to post.text, post_path(post.id)%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class= "mypage-right">
    <div class= "info-box">
      <ul class="info-menu">
        <li><a href="#" id="about" class="info-menu-item active">フォロー一覧 <%="(#{@user.follower.count})"%></a></li>
        <%# <p><%= "#{@user.follower.count}" %>
        <li><a href="#" id="service" class="info-menu-item">フォロワー一覧 <%="(#{@user.followed.count})"%></a></li>
        <li><a href="#" id="service" class="info-menu-item">いいね <%="(#{@likes.count})"%></a></li>
      </ul>
    </div>
    <div class="info-box-content show">
      <% @user.following_user.where.not(id: current_user.id).each do |user| %>
          <p>
            <%= "id: #{user.id} email: #{user.email}" %>
            <%= "#{user.name}" %>
            <% if current_user.following?(user) %>
              <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
            <% else %>
              <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
            <% end %>
            <%= link_to "show", user_path(user) %>
          </p>
      <% end %>
    </div>
    <div class="info-box-content">
      <% @user.follower_user.where.not(id: current_user.id).each do |user| %>
        <p>
          <%= "id: #{user.id} email: #{user.email}" %>
          <%= "#{user.name}" %>
          <% if current_user.following?(user) %>
            <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
          <% else %>
            <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
          <% end %>
          <%= link_to "show", user_path(user) %>
        </p>
      <% end %>
    </div>
    <div class="info-box-content">
      <%# <%="いいね！#{@likes.count}件"%>
      <% @user.liked_posts.where.not(id: current_user.id).each do |post| %>
          
          <p>
            <%# <%= "#{@user.posts}" %> 
            <%= "#{post.user.name}" %>
            <%= link_to "show", post_path(post.id) %>
          </p>
          <%-if post.image.present?%>
              <%= image_tag post.image.url, :size =>'150x200', class: 'lower-message__image' if post.image.present?%>
          <%end%>

      <% end %>
    </div>
  </div>
</div>



<p>住所</p>
<% @shops.each do |shop| %>
    <p><%= @shop.address %></p>(住所名表示)
<% end %>
<div id="map"></div>(地図を表示)


<style>(地図の大きさ指定)
#map{
  height: 150px;
  width:270px;
}
</style>

<script type="text/javascript">
     
    function initMap() {
        <% @shops.each do |shop| %>
        var test ={lat: <%= shop.latitude %>, lng: <%= shop.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: test
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);
        var contentString = '店名：<%= shop.name %>';
        <% end %>
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        var marker = new google.maps.Marker({
            position:test,
            map: map,
            title: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
      }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4Jr1NrfngK80oIANtzFL6LWsYJSKoz3c&callback=initMap" async defer></script>













<% if user_signed_in? %>
  <h1>ユーザー一覧画面</h1>
  <% @users.each do |user| %>
    <p>
      <%= "id: #{user.id} email: #{user.email}" %>
      <% if current_user.following?(user) %>
        <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
      <% else %>
        <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
      <% end %>
    </p>
  <% end %>
<% end %>

<h2>ユーザー詳細ページ</h2>
<p><%= "id: #{@user.id}" %></p>
<p><%= "フォロー数: #{@user.follower.count}" %></p>
<p><%= "フォロワー数: #{@user.followed.count}" %></p>
<% unless @user == current_user %>
  <% if current_user.following?(@user) %>
    <%= link_to 'フォロー外す', unfollow_path(@user.id), method: :POST %>
  <% else %>
    <%= link_to 'フォローする', follow_path(@user.id), method: :POST %>
  <% end %>
<% end %>
<p></p>

<h3>フォロー一覧</h3>
  <% @user.following_user.where.not(id: current_user.id).each do |user| %>
    <p>
      <%= "id: #{user.id} email: #{user.email}" %>
      <% if current_user.following?(user) %>
        <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
      <% else %>
        <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
      <% end %>
      <%= link_to "show", user_path(user) %>
    </p>
  <% end %>

<h3>フォロワー一覧</h3>
  <% @user.follower_user.where.not(id: current_user.id).each do |user| %>
    <p>
      <%= "id: #{user.id} email: #{user.email}" %>
      <% if current_user.following?(user) %>
        <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
      <% else %>
        <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
      <% end %>
      <%= link_to "show", user_path(user) %>
    </p>
  <% end %>