<div class= "container event-top">
  <div class= "row plant-registration">
    <%= form_for [@original] do |f|%>
      <%= f.text_field :plantname, class: 'text_frecuency', placeholder: '植物名'%>
        <%= f.label :image, class: 'form__image' do%>
          <%= icon('fas', 'image', class: 'icon')%>
          <%= f.file_field :image, class: 'hidden'%>
      <%= f.submit '登録', class: 'form__submit'%>
      <% end %>
    <% end %>
  </div>
  <div class= "row plant-list">
      <% @originals.each do |original| %>
      <div class= "plant-list-box">
        <div class=plant-list-box-header>
          <%= original.plantname %>
          <%= link_to "削除", original_path(original.id), method: :delete %>
        </div>
          
          <%= image_tag original.image, :size =>'200x200', class: 'myplant-image' if original.image.present?%>
          <%= form_for @event do |f|%>
            <%= f.hidden_field :title, :value => "#{original.plantname}"%>
            <%# <div class ="field">
              <%= f.label :description%>
              <%# <%= f.text_area :description%>
            <%# </div> %> 
            <%# <div class ="field">
              <%= f.label :start_date%>
              <%# <%= f.datetime_select :start_date%>
            <%# </div>
            <div class ="field">
              <%= f.label :end_date%>
              <%# <%= f.datetime_select :end_date%>
            <%# </div> %>
          
          <div class ="field">
            <!---<p><%= f.label :date %></p>--->
            <p><%= f.date_select :date %></p>
          </div>

          <div class ="field">
            <p><%= f.submit '水やり完了'%></p>
          </div>
        <% end %>
        <%# <%= render 'form'%> 
      </div>
      <% end %> 
  </div>
</div>


<!--
<% @originals.each do |original| %>
  <%= original.plantname %>
  <%= image_tag original.image, :size =>'100x100', class: 'post-image' if original.image.present?%>

  <%= form_for @event do |f|%>
    <%= f.hidden_field :title, :value => "#{original.plantname}"%>
    <%# <div class ="field">
      <%= f.label :description%>
      <%# <%= f.text_area :description%>
    <%# </div> %> 
    <%# <div class ="field">
      <%= f.label :start_date%>
      <%# <%= f.datetime_select :start_date%>
    <%# </div>
    <div class ="field">
      <%= f.label :end_date%>
      <%# <%= f.datetime_select :end_date%>
    <%# </div> %>
    
    <div class ="field">
      <%= f.label :date %>
      <%= f.date_select :date %>
    </div>

    <div class ="field">
      <%= f.submit '水やり完了'%>
    </div>
  <% end %>
  
  
  
  <%# <%= render 'form'%> 
<% end %> 

--->

<div class=" row my-plant-calender">
  <div id="calendar"></div>
</div>
