<div class= "event-top">
</div>

<%= form_for [@original] do |f|%>
  <%= f.text_field :plantname, class: 'text_frecuency', placeholder: '記事'%>
    <%= f.label :image, class: 'form__image' do%>
      <%= icon('fas', 'image', class: 'icon')%>
      <%= f.file_field :image, class: 'hidden'%>
  <%= f.submit '登録する', class: 'form__submit'%>
  <% end %>
<% end %>


<% @originals.each do |original| %>
  <%= original.plantname %>
  <%= image_tag original.image, :size =>'100x100', class: 'post-image' if original.image.present?%>

  <%= form_for @event do |f|%>
    <%= f.hidden_field :title, :value => "#{original.plantname}"%>
    <%# <div class ="field">
      <%= f.label :description%>
      <%# <%= f.text_area :description%>
    <%# </div> %> 
    <%# <div class ="field">
      <%= f.label :start_date%>
      <%# <%= f.datetime_select :start_date%>
    <%# </div>
    <div class ="field">
      <%= f.label :end_date%>
      <%# <%= f.datetime_select :end_date%>
    <%# </div> %>
    
    <div class ="field">
      <%= f.label :date %>
      <%= f.date_select :date %>
    </div>

    <div class ="field">
      <%= f.submit '水やり完了'%>
    </div>
  <% end %>
  
  
  
  <%# <%= render 'form'%> 
<% end %> 

<div id="calendar"></div>

