<div class= "event-top">
</div>

<%= form_for [@original] do |f|%>
  <%= f.text_field :plantname, class: 'text_frecuency', placeholder: '記事'%>
    <%= f.label :image, class: 'form__image' do%>
      <%= icon('fas', 'image', class: 'icon')%>
      <%= f.file_field :image, class: 'hidden'%>
  <%= f.submit 'Send', class: 'form__submit'%>
  <% end %>
<% end %>


<% @originals.each do |original| %>
  <%= image_tag original.image, :size =>'300x300', class: 'post-image' if original.image.present?%>
  <%= original.plantname %>
  <%= render 'form'%>
<% end %> 

<div id="calendar"></div>

