<div class ="container newpost">
  <%# タイトル %>
  <div class="row newpost-title-row">
    <div class="newpost-each newpost-title col-12 text center">
      <img src="/assets/camera.png/", width="50" height="50", class="post-icon">
      <a> 更新</a>
    </div>
  </div>
  <%# 投稿フォーム %>
  <%= form_for [@post] do |f|%>
  <div class="row newpost-main-row mt-3">
    <div class="newpost-image-box col-12">
      <p>写真を更新</p>
      <%= f.label :image, class: 'newpost-image' do%>
        <div class="preview-place">
          <%= f.file_field :image, class: 'hidden post-img'%>
            <img id="img1" style="width:295px;height:295px;" />
        </div>
      <% end %>  
    </div>
    <div class="newpost-each col-12 mt-2">
      <%= f.text_area :text, class: 'newpost-text', rows: 5, cols: 10, placeholder: '...'%>
    </div>
    <div class="newpost-each col-md-12 mt-2">
      <%= f.submit '更新', class: "btn-outline-success"%>
    </div>
  </div>
  <% end %>
</div>
