<div class ="container newpost">
  
  <%# タイトル %>
  <div class="row newpost-title-row">
    <div class="newpost-each newpost-title col-12 text center">
      <img src="/assets/camera.png/", width="50" height="50", class="post-icon">
      <a> 更新</a>
    </div>
  </div>
  
  <%# 投稿フォーム %>
  <%= form_for [@post] do |f|%>
  <div class="row newpost-main-row mt-3">
    <div class="newpost-image-box col-12">
      <p>写真を更新</p>
      <%= f.label :image, class: 'newpost-image' do%>
        <div class="preview-place">
          <%= f.file_field :image, class: 'hidden post-img'%>
            <img id="img1" style="width:295px;height:295px;" />
        </div>
      <% end %>  
    </div>
    <div class="newpost-each col-12 mt-2">
      <%= f.text_area :text, class: 'newpost-text', rows: 5, cols: 10, placeholder: '...'%>
    </div>
    <div class="newpost-each col-md-12 mt-2">
      <%= f.submit '更新', class: "btn-outline-success"%>
    </div>
  </div>
  <% end %>
</div>

<script>
$(function(){
  $('.post-img').change(function(e){
    //ファイルオブジェクトを取得する
    var file = e.target.files[0];
    var reader = new FileReader();
 
    //画像でない場合は処理終了
    if(file.type.indexOf("image") < 0){
      alert("画像ファイルを指定してください。");
      return false;
    }
 
    //アップロードした画像を設定する
    reader.onload = (function(file){
      return function(e){
        $("#img1").attr("src", e.target.result);
        $("#img1").attr("title", file.name);
      };
    })(file);
    reader.readAsDataURL(file);
 
  });
});
</script>
