<!---
<div class="main">
  <div class="options">
    <ul class="menu">
      <li><a href="#" id="about" class="menu_item active">新規投稿</a></li>
      <li><a href="#" id="service" class="menu_item">人気投稿</a></li>
    </ul>
  </div>
  <div class="post-search-box">
    <%= form_tag(search_posts_path, :method => "get", class: "post-search-form") do %>
      <%= text_field_tag :keyword %>
      <%= submit_tag "検索", :name => nil, class: "post-search-submit" %>
    <% end %>
  </div>
  <div class="swich show">
    <div class="contents-box">
      <% @posts.each do |post| %>
        <%= render partial: "post", locals: { post: post } %>
      <% end %>
    </div>
  </div>
  <div class="swich">
    <div class="contents-box">
      <% @all_ranks.each do |post| %>
        <%= render partial: "post", locals: { post: post } %>
      <% end %> 
    </div>
  </div>
</div>
--->

<div class="container container-posts">
  
<%#   
  <div class="row options">
    <ul class="menu">
      <div class="col-sm-6 col-md-8 off-set2"><li><a href="#" id="about" class="menu_item active">新規投稿</a></li></div>
      <div class="col-sm-6 col-md-8 off-set2"><li><a href="#" id="service" class="menu_item">人気投稿</a><li></div>
    </ul>
  </div> %>
<%# 
  <div class="row preference">
    <div class="menu_item active col-md-6" href="#">新規投稿</div>
    <div class="menu_item col-md-6" href="#">人気投稿</div>
  </div> %>

  
  <%# <div class="row preference">
    <div class="prf1 active col-md-4 offset-md-2"><a href="#">新規投稿</a></div>
    <div class="prf2 col-md-4 offset-md-2"><a href="#">人気投稿投稿</a></div>
  </div> %>

  <div class="row preference">
    <div class="prf active col-md-5 offset-md-1"><a href="#">新規投稿</a></div>
    <div class="prf col-md-5 offset-md-1"><a href="#">人気投稿投稿</a></div>
  </div>

<!--
      <li><a href="#" id="about" class="menu_item active">新規投稿</a></li>
      <li><a href="#" id="service" class="menu_item">人気投稿</a></li>
-->
<!--
  <div class="row search">
    <%= form_tag(search_posts_path, :method => "get", class: "post-search-form") do %>
      <%= text_field_tag :keyword %>
      <%= submit_tag "検索", :name => nil, class: "post-search-submit" %>
    <% end %>
  </div>
-->
  <div class="row search">
    <div class="sform col-md-8 offset-md-1">
      <%= form_tag(search_posts_path, :method => "get") do %>
        <%= text_field_tag :keyword %>
    </div>
    <div class="ssubmit col-md-2">
      <%= submit_tag "検索", :name => nil, class: "sbtn" %>
    </div>
    <% end %>
  </div>

  <div class="swich show">
  <div class="row post-cards">
    <% @posts.each do |post| %>
      <div class="col-lg-4 col-md-6 card-index">
        <div class="card">
          <div class="card-header">
            <%= link_to post.user.name, user_path(post.user.id) %>
          </div>
          <div class="card-img-top">
            <%-if post.image.present?%>
              <%= link_to post_path(post.id) do %>
                <%= image_tag post.image, :size =>'298x298', class: 'post-img' if post.image.present?%>
              <% end %>
            <% end %>
          </div>
          <!---<div class="card-body">
            <%-if post.image.present?%>
              <%= link_to post_path(post.id) do %>
                <%= image_tag post.image, :size =>'298x298', class: 'post-img' if post.image.present?%>
              <% end %>
            <% end %>
          </div> --->
          <div class="card-text">
            <%="コメント#{post.comments.count}件"%>
            <%="いいね！#{post.likes.count}件"%>
          </div>
        </div>
      </div>
    <%end%>
  </div>
      <%= paginate(@posts) %>
  </div>
  <div class="swich">
  <div class="row post-cards">
    <% @all_ranks.each do |post| %>
       <div class="col-lg-4 col-md-6 card-index">
        <div class="card">
          <div class="card-header">
            <%= link_to post.user.name, user_path(post.user.id) %>
          </div>
          <div class="card-img-top">
            <%-if post.image.present?%>
              <%= link_to post_path(post.id) do %>
                <%= image_tag post.image, :size =>'298x298', class: 'post-img' if post.image.present?%>
              <% end %>
            <% end %>
          </div>
          <!---<div class="card-body">
            <%-if post.image.present?%>
              <%= link_to post_path(post.id) do %>
                <%= image_tag post.image, :size =>'298x298', class: 'post-img' if post.image.present?%>
              <% end %>
            <% end %>
          </div> --->
          <div class="card-text">
            <%="コメント#{post.comments.count}件"%>
            <%="いいね！#{post.likes.count}件"%>
          </div>
        </div>
      </div>
    <%end%>
  </div>
    <%= paginate(@posts) %>
  </div>
</div>
</div>
</div>



<% if user_signed_in? %>
  <div class="d-none d-md-block">
    <%= link_to icon("fas", "plus-circle") + ' 新規投稿', new_post_path, class: 'new-post-btn--pc' %>
  </div>
  <div class="d-block d-md-none">
    <%= link_to icon("fas", "plus"), new_post_path, class: 'new-post-btn--sp' %>
  </div>
<% end %>


