<div class="main">
  <ul class="menu">
      <li><a href="#" id="about" class="menu_item active">新規投稿</a></li>
      <li><a href="#" id="service" class="menu_item">人気投稿</a></li>
  </ul>

  <%= form_tag(search_posts_path, :method => "get", class: "search-form") do %>
   <%= text_field_tag :keyword %>
   <%= submit_tag "submit", :name => nil %>
  <% end %>
  <div class="contents-box">
    <% @posts.each do |post| %>
      <%= render partial: "post", locals: { post: post } %>
    <% end %>
  </div>
</div>

<div class="main">
  <div class="contents-box">
    <% @all_ranks.each do |post| %>
      <%= render partial: "post", locals: { post: post } %>
    <% end %> 
  </div>
</div>