<div class="main">
  <div class="options">
    <ul class="menu">
      <li><a href="#" id="about" class="menu_item active">新規投稿</a></li>
      <li><a href="#" id="service" class="menu_item">人気投稿</a></li>
    </ul>
  </div>
  <div class="post-search-box">
    <%= form_tag(search_posts_path, :method => "get", class: "post-search-form") do %>
      <%= text_field_tag :keyword %>
      <%= submit_tag "検索", :name => nil, class: "post-search-submit" %>
    <% end %>
  </div>
  <div class="swich show">
    <div class="contents-box">
      <% @posts.each do |post| %>
        <%= render partial: "post", locals: { post: post } %>
      <% end %>
    </div>
  </div>
  <div class="swich">
    <div class="contents-box">
      <% @all_ranks.each do |post| %>
        <%= render partial: "post", locals: { post: post } %>
      <% end %> 
    </div>
  </div>
</div>

<h1>ボタンの練習</h1>
<a href="#" class="btn btn-success">ボタン</a>
<a href="#" class="btn btn-warning">ボタン</a>