<div class="container container-posts">
  
  <%# 新規投稿 or 人気投稿 %>
  <div class="row preference-row pt-4">
    <div class="col-1"></div>
    <div class="preference active col-5"><a href="#">新規投稿</a></div>
    <div class="preference col-5"><a href="#">人気投稿</a></div>
    <div class="col-1"></div>
  </div>
  
  <%# 検索 %>
  <div class="row row-posts-search pt-2">
    <div class="col-2"></div>
    <div class="search-form col-md-6">
    <%= form_tag(search_posts_path, :method => "get") do %>
      <%= text_field_tag :keyword %>
    </div>
    <div class="search-submit col-md-2">
      <%= submit_tag "検索", :name => nil, class: "search-btn" %>
    <% end %>
    </div>
    <div class="col-2"></div>
  </div>
  
  <%# 投稿一覧(新規投稿) %>  
  <div class="swich show">
    <div class="row posts-cards-row">
      <% @posts.each do |post| %>
        <div class="col-lg-4 col-md-6 posts-cards-index">
          <div class="card post-card">
            <div class="card-header post-card-header">
              <%= link_to post.user.name, user_path(post.user.id) %>
            </div>
            <div class="card-img-top">
              <%-if post.image.present?%>
                <%= link_to post_path(post.id) do %>
                  <%= image_tag post.image, :size =>'300x300', class: 'post-img' if post.image.present?%>
                <% end %>
              <% end %>
            </div>
            <div class="card-text">
              <%="コメント#{post.comments.count}件"%>
              <%="いいね！#{post.likes.count}件"%>
            </div>
          </div>
        </div>
      <%end%>
    </div>
    <%= paginate(@posts) %>
  </div>
</div>


<%# </div>
</div> %>

<%# 新規投稿ボタン %>  
<% if user_signed_in? %>
  <div class="d-none d-lg-block">
    <%= link_to icon("fas", "plus-circle") + ' 新規投稿', new_post_path, class: 'new-post-btn--pc' %>
  </div>
  <div class="d-block d-lg-none">
    <%= link_to icon("fas", "plus"), new_post_path, class: 'new-post-btn--sp' %>
  </div>
<% end %>







