<div class="show-main">
  <div class="show-left">
    <div class="show-content">
      <div class="show-content-header">
        <%= link_to @post.user.name, user_path(@post.user.id) %>
      </div>
      <div class="show-content-main">
        <div class="show-content-main-text">
          <%= link_to @post.text, post_path(@post.id)%>
        </div>
        <div class="show-content-main-image">
          <%-if @post.image.present?%>
          <%= image_tag @post.image.url, :size =>'200x300', class: 'lower-message__image' if @post.image.present?%>
          <%end%>
        </div>
      </div>
      <div class="content-footer">
        <%="コメント#{@post.comments.count}件"%>
        <%="いいね！#{@post.likes.count}件"%>
        <% if current_user.likes.find_by(post_id: @post.id) %>
          <%= link_to "いいね解除", post_like_path(@post), method: :delete  %>
        <% else %>
          <%= link_to "いいね", post_likes_path(@post), method: :post %>
        <% end %>
      </div>
    </div>   
  </div>
  <div class="show-right">
    <div class="comment-create">
      <p class="comment-create-header">コメント投稿</p>
      <div class="comment-create-main">
        <%= form_for [@post, @comment] do |f| %>
          <%= f.text_area :message, class: 'text_frecuency', rows: 10, cols: 40, placeholder: 'コメントを記入'%>
          <%= f.submit 'Send', class: 'form__submit'%>
        <% end %>
      </div>
    </div>
    <div class="comment-list">
        <div class="comment-header">
          <p>コメント一覧</p>
        </div> 
        <div class="comment-content">
          <% @comments.each do |comment| %>
            <div class="comment-box">
                <div class="comment-content-name">
                  <%= comment.user.name %>
                </div>
                <div class="comment-content-name">
                  <%= comment.message %>
                </div>
                <% if user_signed_in? && current_user.id == comment.user_id %>
                <div class="comment-content-change">
                  <%= link_to "削除", post_comment_path(comment.post.id, comment.id), method: :delete  %>
                </div>
                <% end %>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>
